<!DOCTYPE html>
<html>
<head>
    <title>Polar Pipeline</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <style>
        .navbar {
            background-color: #333;
        }
        
        .navbar .nav-link {
            color: #ddd;
        }
        
        .navbar .nav-link:hover {
            color: #fff;
        }
        
        .container-middle {
            width: 50%;
            margin: 0 auto;
        }
        
        .dashboard-container {
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
        .result-container {
            display:flex;
            justify-content: center;
            align-items: center;
        }
        .color-container {
            background-color: red;
            padding-top: 1rem;
            padding-bottom: 1rem;
            color: white;
            text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;  
        }
        .btn {
            border-radius: 10px;
        }
        .round-container {
            padding: 1rem;
            background-color: #f9f9f9;
            border: 1px solid #ddd;
            border-radius: 10px;
        }
        .sticky-top {
            position: -webkit-sticky;
            position: sticky;
            top: 0; /* Adjust the desired top offset */
            z-index: 1000; /* Adjust the z-index as needed */
            background-color: #fff; /* Set a background color if needed */
        }
        .delete-button {
            display: none;
        }

        .table-item {
            max-width: 0;
            /* overflow: hidden; */
        }
        .hidden {
            display: none;
        }
        .rotated-fourty-five {
            transform-origin: center;
            transform: rotate(-45deg);
        }
    </style>
</head>
<body onload="initializeStrucs()">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <a class="navbar-brand" href="{{ url_for('browse') }}">Polar Pipeline</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('dashboard') }}">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('id') }}">ID Generator</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('figuregenerator') }}">Protein Figures</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('configuration') }}">Configuration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('setup') }}">Setup</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="dashboard-container">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3 style="margin-bottom: 2rem;">Figure Generator</h3>
                    <h4>Options</h4>
                    <div class="round-container">
                        <h4>Protein Info</h4>
                        <form id="protein-form">
                            <div class="row g-3 align-items-center">
                                <div class="col-4">
                                    <label for="abprotname" class="col-form-label">Protein Name (Abbreviation)</label>
                                </div>
                                <div class="col-8">
                                    <input id="abprotname" class="form-control">
                                </div>
                            </div>
                            <div class="row g-3 align-items-center">
                                <div class="col-4">
                                    <label class="col-form-label">Protein Name (Full)</label>
                                </div>
                                <div class="col-8">
                                    <input id="protname" class="form-control">
                                </div>
                            </div>
                            <div class="row g-3 align-items-center">
                                <div class="col-4">
                                    <label for="zygosity" class="col-form-label">Zygosity</label>
                                </div>
                                <div class="col-8">
                                    <div class="form-check-inline">
                                        <input class="form-check-input" type="radio" name="zygosityradios" id="zygosity1" value="hetero" onclick="homochecked(false)" checked>
                                        <label class="form-check-label" for="zygosity1">
                                            Heterozygous
                                        </label>
                                    </div>
                                    <div class="form-check-inline">
                                        <input class="form-check-input" type="radio" name="zygosityradios" id="zygosity2" value="homo" onclick="homochecked(true)">
                                        <label class="form-check-label" for="zygosity2">
                                            Homozygous
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row g-3 align-items-center">
                                <div class="col-4">
                                    <label for="samestruc" class="col-form-label">Same protein structure?</label>
                                </div>
                                <div class="col-8">
                                    <div class="form-check-inline">
                                        <input class="form-check-input" type="radio" name="sameradios" id="sameradio1" value="yes" onclick="updateMirror()" checked>
                                        <label class="form-check-label" for="sameradio1">
                                            Yes
                                        </label>
                                    </div>
                                    <div class="form-check-inline">
                                        <input class="form-check-input" type="radio" name="sameradios" id="sameradio2" value="no" onclick="updateMirror()">
                                        <label class="form-check-label" for="sameradio2">
                                            No
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="" id="heterocontainer">
                                <div class="row" style="margin-top: 2rem;">
                                    <div class="col-6">
                                        <h5>0|1</h5>
                                    </div>
                                    <div class="col-6">
                                        <h5>1|0</h5>
                                    </div>
                                </div>
                                <div class="row g-3">
                                    <div class="col-6" id="originalForm">
                                        <div class="row" style="padding-bottom: 1rem;">
                                            <div class="col-4">
                                                <label for="protlenleft" class="col-form-label">Protein Length (AA)</label>
                                            </div>
                                            <div class="col-8">
                                                <input type="protlenleft" id="protlenleft" class="form-control">
                                            </div>
                                        </div>
                                        <div id="leftstrucs">
                                        </div>
                                        <span class="btn btn-light" onclick="addNewStrucContainer('left')">Add Structure</span>
                                    </div>
                                    <div class="col-6" id="mirrorContainer">
                                        
                                        <div class="row" style="padding-bottom: 1rem;">
                                            <div class="col-4">
                                                <label for="protlenright" class="col-form-label">Protein Length (AA)</label>
                                            </div>
                                            <div class="col-8">
                                                <input type="protlenright" id="protlenright" class="form-control">
                                            </div>
                                        </div>
                                        <div id="rightstrucs" >
                                        </div>
                                        <span class="btn btn-light" onclick="addNewStrucContainer('right')">Add Structure</span>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 2rem;">
                                    <div class="col-12">
                                        <h4>Features</h4>
                                    </div> 
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div id="featurecontainerleft">
                                            
                                        </div>
                                        <span class="btn btn-light" onclick="addNewFeatureContainer('left')">Add Feature</span>
                                    </div>
                                    <div class="col-6">
                                        <div id="featurecontainerright"></div>
                                        <span class="btn btn-light" onclick="addNewFeatureContainer('right')">Add Feature</span>
                                    </div>
                                </div>
                                <div class="row g-3" style="padding: 1rem;">
                                    <span class="btn btn-primary" onclick="generateFigure()">Generate</span>
                                </div>
                            </div>
                            <div class="hidden" id="homocontainer">
                                <div class="row" style="margin-top: 2rem;">
                                    <div class="col-12">
                                        <h5>1|1</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="row" style="padding-bottom: 1rem;">
                                            <div class="col-4">
                                                <label for="protlenhomo" class="col-form-label">Protein Length (AA)</label>
                                            </div>
                                            <div class="col-8">
                                                <input type="protlenhomo" id="protlenhomo" class="form-control">
                                            </div>
                                        </div>
                                        <div id="homostrucs">
                                        </div>
                                        <span class="btn btn-light" onclick="addNewStrucContainer('homo')">Add Structure</span>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 2rem;">
                                    <div class="col-12">
                                        <h4>Features</h4>
                                    </div> 
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div id="featurecontainerhomo">
                                            
                                        </div>
                                        <span class="btn btn-light" onclick="addNewFeatureContainer('homo')">Add Feature</span>
                                    </div>
                                </div>
                                <div class="row g-3" style="padding: 1rem;">
                                    <span class="btn btn-primary" onclick="generateFigure()">Generate</span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div> 

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h4>Result</h4>
                <div class="round-container" style="margin-bottom: 2rem;">
                    <div class="result-container" id="resultcontainer">
                        <object data="static/variantFig.svg" type="image/svg+xml" id="resultsvg">
                            Your browser does not support SVGs
                        </object>
                    </div>
                    <a class="btn btn-primary" href="{{ url_for('downloadfigure') }}">Download</a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>

        function test() {
            console.log("success");
        }

        let right = 0;
        let left = 0;
        let homo = 0;

        function initializeStrucs(){
            addNewStrucContainer('left');
            const same = document.getElementById("sameradio1").checked;
            if (!same){
                addNewStrucContainer('right');
            }
            addNewStrucContainer('homo');
            homochecked();
            
        }

        function homochecked(){
            const samestrucradio1 = document.getElementById('sameradio1');
            const samestrucradio2 = document.getElementById('sameradio2');
            const homoradio = document.getElementById('zygosity2');
            const homocontainer = document.getElementById('homocontainer');
            const heterocontainer = document.getElementById('heterocontainer');
            if(homoradio.checked){
                samestrucradio1.disabled = true;
                samestrucradio2.disabled = true;
                homocontainer.classList.remove('hidden');
                heterocontainer.classList.add('hidden');
            }else{
                samestrucradio1.disabled = false;
                samestrucradio2.disabled = false;
                homocontainer.classList.add('hidden');
                heterocontainer.classList.remove('hidden');
            }
            
            
        }

        let featureright = 0;
        let featureleft = 0;
        let featurehomo = 0;

        function addNewFeatureContainer(side) {
            const newFeatureContainer = document.createElement("div");

            let num = 0;
            if (side == 'left'){
                num = featureleft;
                featureleft++;
            }else if (side=='right'){
                num = featureright;
                featureright++;
            }else if(side=='homo'){
                num = featurehomo;
                featurehomo++;
            }

            newFeatureContainer.innerHTML = `
            <div class="round-container" id="feature`+side+num+`">
                <div class="row">
                    <div class="col-4">
                        <label for="featurename`+side+num+`" class="col-form-label">Feature Name</label>
                    </div>
                    <div class="col-8">
                        <input type="featurename`+side+num+`" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label for="featurepos`+side+num+`" class="col-form-label">Feature Position</label>
                    </div>
                    <div class="col-8">
                        <input type="featurepos`+side+num+`" class="form-control">
                    </div>
                </div>
            </div>
            <span class="btn btn-light" id="deletefeature`+side+num+`" value="`+num+`" onclick="deleteFeature('`+side+`', this.getAttribute('value'))">Delete Feature</span>
            `
            const featureContainer = document.getElementById("featurecontainer"+side);
            featureContainer.appendChild(newFeatureContainer);

        }

        function addNewStrucContainer(side, disableUpdate=false) {

            // Create a new struc-container element
            const newStrucContainer = document.createElement("div");
            newStrucContainer.className = "struc-container";

            let num = 0;
            if (side=='left'){
                num = left;
                left++;
            } else if (side=='right'){
                num = right;
                right++;
            } else if (side == 'homo'){
                num = homo;
                homo++;
            }

            newcolor=getRandomColor();

            // Fill the new container with content (similar to the existing struc-container)
            newStrucContainer.innerHTML = `
            <div class="round-container color-container" style="background-color: `+newcolor+`" id="struc`+side+num+`">
                <div class="row">
                    <div class="col-4">
                        <label for="protname`+side+num+`" class="col-form-label">Structure Name</label>
                    </div>
                    <div class="col-8">
                        <input type="protname`+side+num+`" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label for="protstart`+side+num+`" class="col-form-label">Structure Start</label>
                    </div>
                    <div class="col-8">
                        <input type="protstart`+side+num+`" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label for="protstop`+side+num+`" class="col-form-label">Structure Stop</label>
                    </div>
                    <div class="col-8">
                        <input type="protstop`+side+num+`" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label class="form-label">Color</label>
                    </div>
                    <div class="col-8">
                        <input type="color" class="form-control form-control-color" value="`+newcolor+`" id="color`+side+num+`" title="Choose your color" onchange="changeBackgroundColor(this.getAttribute('id'))">
                    </div>
                </div>
            </div>
            <span class="btn btn-light" id="delete`+side+num+`" value="`+num+`" onclick="deleteStruc('`+side+`', this.getAttribute('value')); updateMirror()">Delete Structure</span>
            `;

            // Append the new struc-container to the container
            const strucContainer = document.getElementById(side+"strucs");
            strucContainer.appendChild(newStrucContainer);
            const same = document.getElementById("sameradio1");
            if (!disableUpdate){
                updateMirror()
            }
            
            
        }

        function changeBackgroundColor(identification) {
            console.log(identification);
            let leftRightValue = 'none';
            let number = '0';
            let selectedColor = "#000000";
            let strucContainer = '';
            if (identification.startsWith("colorleft")) {
                const parts = identification.match(/^(colorleft)(\d+)$/);
                if (parts && parts.length === 3) {
                    leftRightValue = "left";
                    number = parts[2];
                }
                const colorInput = document.getElementById("color"+leftRightValue+number);
                console.log("color"+leftRightValue+number);
                selectedColor = colorInput.value;
                strucContainer = document.getElementById("struc"+leftRightValue+number);

            } else if (identification.startsWith("colorright")) {
                const parts = identification.match(/^(colorright)(\d+)$/);
                if (parts && parts.length === 3) {
                    leftRightValue = "right";
                    number = parts[2];
                }
                const colorInput = document.getElementById("color"+leftRightValue+number);
                selectedColor = colorInput.value;
                strucContainer = document.getElementById("struc"+leftRightValue+number);

            } else {
                const parts = identification.match(/^(colorhomo)(\d+)$/);
                if (parts && parts.length === 3) {
                    number = parts[2];
                }
                const colorInput = document.getElementById("colorhomo"+number);
                console.log("colorhomo"+number);
                selectedColor = colorInput.value;
                strucContainer = document.getElementById("struchomo"+number);

            }
            

            // Set the background color of the struc-container
            strucContainer.style.backgroundColor = selectedColor;

            updateMirror()
        }

        function deleteFeature(side, num) {
            const featureToRemove = document.getElementById('feature'+side+num);
            const buttonToRemove = document.getElementById('deletefeature'+side+num);
            buttonToRemove.remove()
            featureToRemove.remove()
        }

        function deleteStruc(side, num) {
            const strucToRemove = document.getElementById('struc'+side+num);
            const buttonToRemove = document.getElementById('delete'+side+num);
            buttonToRemove.remove();
            strucToRemove.remove();
        }

        function getRandomColor() {
            const letters = '0123456789ABCDEF';
            let color = '#';
            for (let i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }

        function generateFigure() {

            const protnamefield = document.getElementById("protname");
            const proteinname = protnamefield.value;

            const abprotnamefield = document.getElementById("abprotname");
            const abproteinname = abprotnamefield.value;

            const homoradio = document.getElementById('zygosity2');
            homo = homoradio.checked;
            console.log(homo);
            if (!homo){
                const leftstrucs = document.getElementById("leftstrucs");
                const leftitems = leftstrucs.children;
                const leftstructures = []
                for (let i = 0; i < leftitems.length; i++) {
                    const leftitem = leftitems[i];
                    const textFields = leftitems[i].querySelectorAll('.form-control');
                    const strucvals = []
                    for (let j = 0; j < textFields.length; j++) {
                        strucvals.push(textFields[j].value);
                    }
                    leftstructures.push(strucvals);
                }
                
                const leftlenfield = document.getElementById("protlenleft");
                const leftlen = leftlenfield.value;

                let rightlen;
                let rightstructures;
                const same = document.getElementById("sameradio1").checked;
                if (same){
                    rightlen = leftlen;
                    rightstructures = leftstructures;
                }else{
                    const rightstrucs = document.getElementById("rightstrucs");
                    const rightitems = rightstrucs.children;
                    rightstructures = []
                    for (let i = 0; i < rightitems.length; i++) {
                        const rightitem = rightitems[i];
                        const textFields = rightitems[i].querySelectorAll('.form-control');
                        const strucvals = []
                        for (let j = 0; j < textFields.length; j++) {
                            strucvals.push(textFields[j].value);
                        }
                        rightstructures.push(strucvals);
                    }
                    const rightlenfield = document.getElementById("protlenright");
                    rightlen = rightlenfield.value;
                }


                const leftfeaturecontainer = document.getElementById("featurecontainerleft");
                const leftfeatureitems = leftfeaturecontainer.children;
                const leftfeatures = []
                for (let i = 0; i < leftfeatureitems.length; i++) {
                    const leftfeatureitem = leftfeatureitems[i];
                    const textFields = leftfeatureitems[i].querySelectorAll('.form-control');
                    const featurevals = []
                    for (let j = 0; j < textFields.length; j++) {
                        featurevals.push(textFields[j].value);
                    }
                    leftfeatures.push(featurevals);
                }
                const rightfeaturecontainer = document.getElementById("featurecontainerright");
                const rightfeatureitems = rightfeaturecontainer.children;
                const rightfeatures = []
                for (let i = 0; i < rightfeatureitems.length; i++) {
                    const rightfeatureitem = rightfeatureitems[i];
                    const textFields = rightfeatureitems[i].querySelectorAll('.form-control');
                    const featurevals = []
                    for (let j = 0; j < textFields.length; j++) {
                        featurevals.push(textFields[j].value);
                    }
                    rightfeatures.push(featurevals);
                }

                

                $.ajax({
                    type: 'POST',
                    url: '/generatefigure',
                    data: JSON.stringify({
                        homo: homo,
                        abproteinname: abproteinname,
                        proteinname: proteinname,
                        leftlen: leftlen,
                        leftstructures: leftstructures,
                        rightlen: rightlen,
                        rightstructures: rightstructures,
                        leftfeatures: leftfeatures,
                        rightfeatures: rightfeatures
                    }),
                    contentType: 'application/json',
                    success: function (response) {
                        document.getElementById("resultcontainer").innerHTML += "";
                    },
                    error: function () {
                        alert("Error. Are all fields correct?");
                    }
                });
            }else{
                let homolen;
                let homostructures;
                const homostrucs = document.getElementById("homostrucs");
                const homoitems = homostrucs.children;
                homostructures = []
                for (let i = 0; i < homoitems.length; i++) {
                    const homoitem = homoitems[i];
                    const textFields = homoitems[i].querySelectorAll('.form-control');
                    const strucvals = []
                    for (let j = 0; j < textFields.length; j++) {
                        strucvals.push(textFields[j].value);
                    }
                    homostructures.push(strucvals);
                }
                const homolenfield = document.getElementById("protlenhomo");
                homolen = homolenfield.value;

                const homofeaturecontainer = document.getElementById("featurecontainerhomo");
                const homofeatureitems = homofeaturecontainer.children;
                const homofeatures = []
                for (let i = 0; i < homofeatureitems.length; i++) {
                    const homofeatureitem = homofeatureitems[i];
                    const textFields = homofeatureitems[i].querySelectorAll('.form-control');
                    const featurevals = []
                    for (let j = 0; j < textFields.length; j++) {
                        featurevals.push(textFields[j].value);
                    }
                    homofeatures.push(featurevals);
                }

                console.log(abproteinname);
                console.log(proteinname);
                console.log(homolen);
                console.log(homostructures);
                console.log(homofeatures);

                $.ajax({
                    type: 'POST',
                    url: '/generatefigure',
                    data: JSON.stringify({
                        homo: homo,
                        abproteinname: abproteinname,
                        proteinname: proteinname,
                        homolen: homolen,
                        homostructures: homostructures,
                        homolen: homolen,
                        homofeatures: homofeatures,
                    }),
                    contentType: 'application/json',
                    success: function (response) {
                        document.getElementById("resultcontainer").innerHTML += "";
                    },
                    error: function () {
                        alert("Error. Are all fields correct?");
                    }
                });

            }

            


        }

        const originalForm = document.getElementById('originalForm');
        const mirrorContainer = document.getElementById('mirrorContainer');

        function updateMirror() {
            // Clone the entire form
            const same = document.getElementById('sameradio1').checked;
            if (same){
                const clonedForm = originalForm.cloneNode(true);

                clonedForm.classList.remove('col-6');

                // Disable input elements and set their values
                clonedForm.querySelectorAll('input').forEach((input) => {
                    input.disabled = true;
                    input.value = input.value;

                });


                // Replace the mirror container with the cloned form
            
                mirrorContainer.innerHTML = '';

                mirrorContainer.appendChild(clonedForm);
            }
            else {

                const rightStrucContainer = document.getElementById("rightstrucs");
                if (!rightStrucContainer){
                    mirrorContainer.innerHTML = `
                        <div class="row" style="padding-bottom: 1rem;">
                            <div class="col-4">
                                <label for="protlenright" class="col-form-label">Protein Length (AA)</label>
                            </div>
                            <div class="col-8">
                                <input type="protlenright" id="protlenright" class="form-control">
                            </div>
                        </div>
                        <div id="rightstrucs" >
                        </div>
                        <span class="btn btn-light" onclick="addNewStrucContainer('right')">Add Structure</span>
                        `;
                    addNewStrucContainer('right', true);
                }

                
            }
            
        }
        

        // Attach an event listener to the original form elements
        originalForm.addEventListener('input', updateMirror);

        // Initial call to populate the mirrored elements
        updateMirror();
        
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
